%h1 Edit your card
%p Note that this will replace your old card with this one, you can't have multiple cards on file.

#add_card
  =form_tag edit_card_path do

    =hidden_field_tag :stripe_token, :id => 'stripe_token'

    .field
      =label_tag :card_number, "Credit Card Number"
      =text_field_tag :card_number, nil, name: 'card_number'

    .field
      =label_tag :card_code, "Security Code (CVV)"
      =text_field_tag :card_code, nil, name: 'card_code'

    .field
      =label_tag :card_month, "Expiration Date"
      =select_month nil, {add_month_numbers: true}, {name: 'card_month', id: "card_month"}
      =select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'card_year', id: "card_year"}
    
    .actions
      =submit_tag "Submit new card"