%h1 Add a credit card!

%p Don't worry, we will never charge you for anything.

%p You might charge yourself though (if you fail to complete a goal). By committing to a goal, the pressure is on. Minimum consequence for not completing a goal is $3, although you can and should choose more depending on your goal and how much you want to motivate yourself.

%p People often ask where they money goes from failed goals. Find out here.

- if current_user.stripe_token
  %p You already have a card on file, but you can change it here if you'd like!

- else
  #add_card
    = form_for(@user) do |f|
      
      =f.hidden_field :stripe_token
      
      .field
        =label_tag :card_number, "Credit Card Number"
        =text_field_tag :card_number, nil, name: nil

      .field
        =label_tag :card_code, "Security Code (CVV)"
        =text_field_tag :card_code, nil, name: nil

      .field
        =label_tag :card_month, "Expiration Date"
        =select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
        =select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}

      .actions
      =submit_tag "Add card"