%h3= "Welcome #{current_user.email}"
= link_to "Sign Out", destroy_user_session_path, :method => 'delete'
%h1 User List
- @users.each do |u|
	%li= u.try(:full_name)

%br
=link_to "See Goals", user_goals_path(current_user.id)