%h1 Welcome to Palioxis!

%p ...and congratulations on your decision to get more done out of life. Before you get to the good stuff, I just wanted to go over a couple tips on how to use Palioxis and a couple of the more commonly asked questions about how it works.

%h3 What is Palioxis anyway?

%p Simply put, it is a way to hold yourself accountable for your goals. Everyone’s has that ‘thing you know you should do’ and ‘will do at some point’, but never get around to. You never get around to it because there’s no consequence if you don’t. Palioxis lets you create a consequence for yourself so that you can push yourself to actually do it. When you create a new goal, you must set an amount of money that you will charge yourself  if you fail, and at least one email of a person to hold you accountable. When the due date you set arrives, Palioxis will ask you if you completed the goal or not. 

%p If you did, you mark it complete, you lose no money, the person holding you accountable gets an email about how great you are, and you make the list of glory for the week. 

%p If you didn’t, your card will be charged the amount you specified, the person or people holding you accountable get an email about how much you suck, you make the list of shame, and you learn a valuable lesson - don’t mess with youself. You weren’t kidding.

%h3 If I lose money, what happens to it?

%p You might think that perhaps it gets donated to charity. Nope, Chuck Testa. We don’t want you to feel good about yourself for failing. You should feel terrible, and that should drive you to be more successful next time.

%p At the end of every month, everyone who was active in setting goals for themselves that month (whether succeesed or not) is put into a pool, and one person is picked completely at random. This person gets all the money that everyone else lost. So essentially your money is going into a lottery that will go towards a random person you don’t know. And by being active on the site, you get a free lottery ticket. I mean, you deserve at least a small reward for pushing yourself to improve.

%h3 The Palioxis Honor Code

%p Being honest is an essential part of using Palioxis. There’s really no point in using this at all if you are not going to be honest about when you failed. If you never have any consequences for not learning, you may as well not even bother signing up. So although we all know how tempting it is to just click “yes” and keep those 5 bucks, it’s important that you keep in mind how important honesty is to the core idea of trying to improve yourself. Therefore, we ask that you sign the honor code below before you get started.

%p.honor-code= "I, #{current_user.full_name}, promise to be totally honest when using Palioxis."
.sign-area

%h3 Tips for setting good goals

%p Be specific by breaking your goals down into steps. For example, if one of your goals was to work out more, for god’s sake don’t enter in “work out more” as your goal. It’s nebulous and not clear whether it was achieved or not. Enter in something like “go to the gym on Wednesday”. Then if you do that, make another goal, “go to the gym on Friday”. If your goal is to learn how to code, don’t put in “learn javascript”, put in “read the first chapter of the rhino book by the end of the week”. You catch my drift?

%p Good luck -- I know you’ll kill it.